<section class="flex justify-center pb-[60px]">
  <div class="w-4/5 
              bg-[url('root/perro_2.png'),_url('root/rectangle_3.png'),_url('root/rectangle_4.png')]
              bg-no-repeat
              bg-[position:left_bottom,_left_bottom,_right_-120px_top]
            bg-[#2DA3DD] 
              h-[378px] 
              rounded-[20px]
  ">
    <div class="flex flex-col w-[100%] items-end pt-[60px] pr-[80px]">
      <h2 class="text-[40px] font-[800]"> One more friend </h2>
      <h4 class="text-[26px] font-[700]"> Thousands more fun! </h4>
      <p class="w-[300px] text-xs text-right">
        Having a pet means you have more joy, a new friend, a happy 
        person who will always be with you to have fun. We have 200+ 
        different pets that can meet your needs!
      </p>
      <div class="mt-[25px] flex gap-2">
        <button class="px-[28px] pt-[14px] pb-[10px] border-[1.5px] border-[#2BA3DD] rounded-[57px]"> View Intro </button>
        <button class="px-[28px] pt-[14px] pb-[10px] border-[1.5px] bg-[#2BA3DD] rounded-[57px] text-white"> Explore Now </button>
      </div>
    </div>
  </div>
</section>