<section class="bg-gradient-to-r from-[#D7E1EC] to-[#FFFFFF] w-full"> 
  <div class="bg-[url('root/root_header.png'),_url('root/rectangle_2.png'),_url('root/rectangle_1.png')] 
              bg-no-repeat 
              bg-[position:right_bottom,_right_33px_bottom,_right_140px_bottom]
              bg-[length:70%,_58%,_50%]
              h-screen 
              ml-[130px]"
  >
    <div class="pt-[180px] w-full">
      <h1 class="text-[60px] font-[800]"> One more friend </h1>
      <h2 class="text-[46px] font-[700]"> Thousands more fun! </h2>
      <p class=" w-[480px]"> Having a pet means you have more joy, a 
        new friend, a happy person who will always be with you to have fun. We 
        have 200+ different pets that can meet your needs! 
      </p>
      <div class="mt-[35px] flex gap-2">
        <button class="px-[28px] pt-[14px] pb-[10px] border-[1.5px] border-[#2BA3DD] rounded-[57px]"> View Intro </button>
        <button class="px-[28px] pt-[14px] pb-[10px] border-[1.5px] bg-[#2BA3DD] rounded-[57px] text-white"> Explore Now </button>
      </div>
    </div>
  </div>
</section>