<nav class="flex absolute pl-[130px] pt-7">
  <div class="w-[100px] mr-11 flex items-center">
    <%= image_tag ("nav/cacao_logo.png")%>
  </div>
  <ul class="flex gap-[48px] items-center">
    <li>Home</li>
    <li>Category</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
  <div class="flex items-center bg-white px-3 pl-4 pr-5 rounded-[46px] ml-9">
    <%= image_tag ("nav/glass.png") %>
    <input type="text" placeholder="Please enter your search here" class="w-[250px] h-[20px] border-none">
  </div>
  <button class="ml-[10px] px-[20px] pt-[8px] pb-[6px] border-[1.5px] bg-[#2BA3DD] rounded-[57px] text-white"> Join to our community </button>
</nav>